{% extends "base.html.twig" %}

{% block content %}
    {{ dump(customer) }}
    <form action="/boutique" method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_wkPrI7cPjQwMnNARzjtXYJDV"
                data-amount="999"
                data-name="Demo Site"
                data-description="Widget"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="true"
                data-currency="eur">
        </script>
    </form>

{% endblock %}

