{#add and edit page#}
{% extends "base.html.twig" %}

{% block navitems %}
    <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
    </li>
{% endblock %}

{% block content %}
    <h1>Editer</h1>

    <div class="well">
        {{ form(form) }}
    </div>
{% endblock %}