{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}



 {% block sidemenu %}
     {% include 'includes/sidemenu.html.twig' %}
 {% endblock %}


{% block fos_user_content %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                {% block body %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="pull-left page-title">Blank Page</h4>
                            <ol class="breadcrumb pull-right">
                                <li><a href="#">Moltran</a></li>
                                <li><a href="#">Pages</a></li>
                                <li class="active">Blank Page</li>
                            </ol>
                        </div>
                    </div>

                    <!-- List Groups -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Email envoyé</h3>
                                </div>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                           <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
                                        </div>
                                    </div> <!-- end row -->
                                </div> <!-- panel-body -->
                            </div> <!-- panel -->

                            <p>
                                <a href="{{ path('platform_home') }}" class="btn btn-default">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                    Retour a l'acceuil
                                </a>
                            </p>

                        </div> <!-- col -->
                    </div> <!-- End row -->



                {% endblock %}
            </div> <!-- container -->

        </div> <!-- content -->
        {% include 'includes/footer.html.twig' %}
    </div>


{% endblock fos_user_content %}
